# 신랑측
VITE_GROOM_NAME=신랑이름
VITE_GROOM_PHONE=010-0000-0000
VITE_GROOM_BANK=은행명
VITE_GROOM_ACCOUNT=000-000-000000

VITE_GROOM_FATHER_NAME=신랑아버지
VITE_GROOM_FATHER_BANK=은행명
VITE_GROOM_FATHER_ACCOUNT=000-000-000000

VITE_GROOM_MOTHER_NAME=신랑어머니
VITE_GROOM_MOTHER_BANK=은행명
VITE_GROOM_MOTHER_ACCOUNT=000-000-000000

# 신부측
VITE_BRIDE_NAME=신부이름
VITE_BRIDE_PHONE=010-0000-0000
VITE_BRIDE_BANK=은행명
VITE_BRIDE_ACCOUNT=000-000-000000

VITE_BRIDE_FATHER_NAME=신부아버지
VITE_BRIDE_FATHER_BANK=은행명
VITE_BRIDE_FATHER_ACCOUNT=000-000-000000

VITE_BRIDE_MOTHER_NAME=신부어머니
VITE_BRIDE_MOTHER_BANK=은행명
VITE_BRIDE_MOTHER_ACCOUNT=000-000-000000
